*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Source Sans Pro', sans-serif;
}
 

body{
  
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-left: -70px;

}
.container{
    border: 5px solid teal;
    text-align: center;
    margin-top: 200px;
    width: 900px;
    max-width: 80%;
    max-height: 700px;
    background-color: rgb(105, 24, 101);
    border-radius: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
   
   
}

div.Header {
    color:rgb(105, 24, 101);
    display: flex;
    justify-content:row;
    display:inline-table;
    margin-top: 10px;
}

#h-s {
color: aquamarine;
font-size: 30px;
margin-top: 10px;
}


.answers-btns {
    background-color: aquamarine;
}

p {
    font-size: 22px;
font-weight: bolder;

}

h1 {
    color:teal;
    font-style: italic;
}


#start {
    background-color:rgb(0, 4, 8);
    font-weight: bold;
    color:teal;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
    border-color: teal;
}

#start:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

/*.time {
    background-color: cadetblue;
    font-weight: bold;
    border: 1px black;
}*/